<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>reveal.js – The HTML Presentation Framework</title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/reveal.css">

    <link rel="stylesheet" href="css/theme/blood.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <h2>Angular Change Detection and the VM: BFF's</h1>
          <div class="flex-container">
            <div class="flex-column">
              <img src="img/bens_face.png" />
            </div>
            <div class="flex-column">
              <h3>Ben Zittlau</h2>
              <p>@benzittlau</p>
              <p>benzittlau.com</p>
              <p>springlaunched.com</p>
              <p>ben@getjobber.com</p>
            </div>
          </div>
        </section>
        <section>
          <h3>SLIDE ON WHAT WILL BE COVERED</h3>
        </section>
        <section>
          <section>
            <h3>What is change detection?</h3>
          </section>
          <section>
            <div class="flex-container">
              <div class="flex-column">
                <p>Data/Model/State</p>
                <pre><code data-trim class='json'>
{
  heroes: [
    'Hiro Nakamura',
    'Claire Bennet',
    'Peter Petrelli'
  ]
}
</code></pre>
              </div>
              <div class="flex-column">
                <p>Template</p>
<pre><code data-trim class='html'>
<ul>
  <% for hero in heroes %>
    <li><% hero %></li>
  <% end %>
</ul>
</code></pre>
              </div>
              <div class="flex-column">
                <p>DOM</p>
<pre><code data-trim class='html'>
<ul>
  <li>Hiro Nakamura</li>
  <li>Claire Bennet</li>
  <li>Peter Petrelli</li>
</ul>
</code></pre>
              </div>
            </div>
            <aside class="notes">
              One of the major roles modern javascript frameworks serve
              is to allow you to combine data with a template to create
              a DOM structure.

              There was a time when it might have been useful simply to
              do this once, but modern javascript apps often have changing
              data and state, and it is necessary to make sure the interface
              reflects any changes to that data.

              Change detection is the first part of that process; allowing the
              framework to be aware that changes have occurred, so they can handle
              those changes appropriately.

              We won't be looking at how those actual updates are applied in this talk,
              if you're interested in that please see my talk from last year on
              Virtual DOM.
            </aside>
          </section>
          <section>
            <h3>So why should we care about change detection?</h3>
            <p>DOM changes are slow, so it's hard to make an app fast</p>
            <p>Different approaches used by the different frameworks</p>
            <p>No "right" answer</p>
            <aside class="notes">
              I personally find the different ways in which frameworks handle
              the challenges of change detection of DOM mutation incredibly
              interesting.  Making a web application "feel" fast is very hard
              (as anyone who's attempted to make an interactive application without
              the modern tools can likely attest).

              Each framework has taken a different approach, and neither of these
              approaches has "won".  As the frameworks are converging towards similar
              concepts in terms of components and data and action flows, their change
              detection and update approaches have remained very different.

              How the framework handles these questions has direct impact on how the
              user of the framework has to work, so understanding these differences
              gives a better appreciation for the usage differences between the
              frameworks.
            </aside>
          </section>
          <section>
            <h3>React Change Detection (Virtual DOM)</h3>
            <div class="flex-container">
              <div class="flex-column">
                <p>Data/Model/State</p>
                <pre><code data-trim data-noescape class='json'>
{
  heroes: [
    'Hiro Nakamura',
    'Claire Bennet',
    'Peter Petrelli',<span data-fragment-index="1" class="fragment hidden changes">
    'Matt Parkman'</span>
  ]
}
</code></pre>
              </div>
              <div class="flex-column">
                <p class="fragment highlight-red" data-fragment-index="2">Template</p>
<pre><code data-trim class='html'>
<ul>
  <% for hero in heroes %>
    <li><% hero %></li>
  <% end %>
</ul>
</code></pre>
              </div>
              <div class="fragment hidden flex-column" data-fragment-index="3">
                <p class="changes">Virtual DOM</p>
<pre><code data-trim class='html'>
<ul>
  <li>Hiro Nakamura</li>
  <li>Claire Bennet</li>
  <li>Peter Petrelli</li>
  <li>Matt Parkman</li>
</ul>
</code></pre>
              </div>
              <div class="flex-column">
                <p>DOM</p>
<pre><code data-trim class='html'>
<ul>
  <li>Hiro Nakamura</li>
  <li>Claire Bennet</li>
  <li>Peter Petrelli</li>
</ul>
</code></pre>
              </div>
            </div>
          </section>
          <section>
            <h3>Ember/Vue Change Detection (Observables)</h3>
            <div class="flex-container">
              <div class="flex-column">
                <p>Data/Model/State</p>
                <pre><code data-trim data-noescape class='json'>
{
  <span data-fragment-index="1" class="fragment highlight-red">heroes:</span> [
    'Hiro Nakamura',
    'Claire Bennet',
    'Peter Petrelli',<span data-fragment-index="2" class="fragment hidden changes">
    'Matt Parkman'</span>
  ]
}
</code></pre>
              </div>
              <div class="flex-column">
                <p>Template</p>
<pre><code data-trim data-noescape class='json'>

&lt;ul&gt;
  &lt;% for hero in <span data-fragment-index="1" class="fragment highlight-red">heroes</span> %&gt;
    &lt;li&gt;&lt;% hero %&gt;&lt;/li&gt;
  &lt;% end %&gt;
&lt;/ul&gt;
</code></pre>
              </div>
              <div class="flex-column">
                <p>DOM</p>
<pre><code data-trim data-noescape class='html'>
&lt;ul&gt;
  <span data-fragment-index="1" class="fragment highlight-red">&lt;li&gt;Hiro Nakamura&lt;/li&gt;
  &lt;li&gt;Claire Bennet&lt;/li&gt;
  &lt;li&gt;Peter Petrelli&lt;/li&gt;</span>
&lt;/ul&gt;
</code></pre>
              </div>
            </div>
          </section>
          <section>
            <h3>Angular Change Detection (Compare States)</h3>
            <div class="flex-container">
              <div class="flex-column">
                <p>Data/Model/State</p>
<pre><code data-trim data-noescape class='json'>
{
  heroes: [
    'Hiro Nakamura',
    'Claire Bennet',
    'Peter Petrelli',
  ]
}
</code></pre>
              </div>
              <div data-fragment-index="1" class="fragment hidden flex-column">
                <p class="changes">Next State</p>
<pre><code data-trim data-noescape class='json'>
  {
    heroes: [
      'Hiro Nakamura',
      'Claire Bennet',
      'Peter Petrelli',<span class="changes">
      'Matt Parkman'</span>
    ]
  }
</code></pre>
              </div>
              <div class="flex-column">
                <p>Template</p>
<pre><code data-trim class='html'>
<ul>
  <% for hero in heroes %>
    <li><% hero %></li>
  <% end %>
</ul>
</code></pre>
              </div>
              <div class="flex-column">
                <p>Virtual DOM</p>
<pre><code data-trim class='html'>
<ul>
  <li>Hiro Nakamura</li>
  <li>Claire Bennet</li>
  <li>Peter Petrelli</li>
  <li>Matt Parkman</li>
</ul>
</code></pre>
              </div>
            </div>
          </section>
          <section>
            <h3>To summarize...</h3>
            <p data-fragment-index="1" class="fragment">Change detection is how frameworks know they need to update the view</p>
            <p data-fragment-index="2" class="fragment">Each framework uses a different strategy</p>
            <p data-fragment-index="3" class="fragment">Angular's strategy is to check each components state each "tick" to see if it's changed</p>
          </section>
        </section>
        <section>
          <section>
            <h3>But how do you make it fast?</h3>
          </section>
          <section>
              <div><img src="img/angular_change_detector_tree.png" alt="Vue JS Trends"></div>
              <div class="source"><a href="https://blog.thoughtram.io/angular/2016/02/22/angular-2-change-detection-explained.html">Source</a></div>
              <aside class="notes">
                While this may seem pretty fast when you're only looking at a single component,
                applications will often be made up of many, many components in a tree structure
                like that shown here.  Each of those components must check it's own data
                to see if it's changed (this isn't strictly true in Angular, but is true by
                default).

                Because this needs to happen every cycle, we need it to be incredibly fast.
              </aside>
          </section>
          <section>
            <h2>Show a specific change detector</h2>
            <p>Talk about how it will always get the same shape of object</p>
            <p>Hand-wave about why "monomorphic" is good.</p>
          </section>
        </section>

          <section>
            <blockquote>At the end of the day I liked it a lot, and could see it becoming an easy to use "go to" for side projects</blockquote>
            <h3>Ben Zittlau</h2>
            <p>@benzittlau</p>
            <p>benzittlau.com</p>
            <p>springlaunched.com</p>
            <p>ben@getjobber.com</p>
          </section>
          <section>
            <h2>Resources</h2>
            <ul class="list--no-bullets">
              <li><a href="https://vuejs.org/">Main Vue.js Docs (great resource)</a></li>
              <li><a href="https://vuejs.org/v2/guide/comparison.html">Vue.js doc comparing to other frameworks</a></li>
              <li><a href="http://vuejsdevelopers.com/2017/05/28/switch-from-react-to-vue-js/">Switching From React To Vue.js</a></li>
              <li><a href="https://about.gitlab.com/2016/10/20/why-we-chose-vue/">GitLab - Why we chose vue</a></li>
              <li><a href="https://blog.codeship.com/consider-vuejs-next-web-project/">Codeship - Consider VueJS for Your Next Web Project</a></li>
              <li><a href="https://exchange-js-hows-the-vue.herokuapp.com/#/">This Talk</a></li>
            </ul>
          </section>
        </section>
      </div>
    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>

    <script>

      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        margin: 0.1,
        width: '100%',
        maxScale: 1,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return true; }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true },
          { src: 'plugin/notes/notes.js', async: true }
        ]
      });

    </script>

  </body>
</html>
