<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>reveal.js – The HTML Presentation Framework</title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/reveal.css">

    <link rel="stylesheet" href="css/theme/blood.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <h2>Angular Change Detection and the VM: BFF's</h1>
          <div class="flex-container">
            <div class="flex-column">
              <img src="img/bens_face.png" />
            </div>
            <div class="flex-column">
              <h3>Ben Zittlau</h2>
              <p>@benzittlau</p>
              <p>benzittlau.com</p>
              <p>springlaunched.com</p>
              <p>ben@getjobber.com</p>
            </div>
          </div>
        </section>
        <section>
          <h3>We will cover</h3>
          <p>What change detection is</p>
          <p>How it's handled in React, Vue and Ember</p>
          <p>How it's handled in Angular</p>
          <p>How Angular atttempts to make this fast through monomorphism</p>
          <p>How the Angular compiler is part of that stragety</p>
          <h2>If Time:</h2>
          <p>Why monomorphism makes javascript faster (Inline Cache)</p>
          <p>What object shapes are in Javascript</p>
        </section>
        <section>
          <section>
            <h3>What is change detection?</h3>
          </section>
          <section>
            <div class="flex-container">
              <div class="flex-column">
                <p>Data/Model/State</p>
                <pre><code data-trim class='json'>
{
  heroes: [
    'Hiro Nakamura',
    'Claire Bennet',
    'Peter Petrelli'
  ]
}
</code></pre>
              </div>
              <div class="flex-column">
                <p>Template</p>
<pre><code data-trim class='html'>
<ul>
  <% for hero in heroes %>
    <li><% hero %></li>
  <% end %>
</ul>
</code></pre>
              </div>
              <div class="flex-column">
                <p>DOM</p>
<pre><code data-trim class='html'>
<ul>
  <li>Hiro Nakamura</li>
  <li>Claire Bennet</li>
  <li>Peter Petrelli</li>
</ul>
</code></pre>
              </div>
            </div>
            <aside class="notes">
              One of the major roles modern javascript frameworks serve
              is to allow you to combine data with a template to create
              a DOM structure.<br/><br/>

              There was a time when it might have been useful simply to
              do this once, but modern javascript apps often have changing
              data and state, and it is necessary to make sure the interface
              reflects any changes to that data.<br/><br/>

              Change detection is the first part of that process; allowing the
              framework to be aware that changes have occurred, so they can handle
              those changes appropriately.<br/><br/>

              We won't be looking at how those actual updates are applied in this talk,
              if you're interested in that please see my talk from last year on
              Virtual DOM.
            </aside>
          </section>
          <section>
            <h3>So why should we care about change detection?</h3>
            <p>DOM changes are slow, so it's hard to make an app fast</p>
            <p>Different approaches used by the different frameworks</p>
            <p>No "right" answer</p>
            <aside class="notes">
              I personally find the different ways in which frameworks handle
              the challenges of change detection of DOM mutation incredibly
              interesting.  Making a web application "feel" fast is very hard
              (as anyone who's attempted to make an interactive application without
              the modern tools can likely attest).<br/><br/>

              Each framework has taken a different approach, and neither of these
              approaches has "won".  As the frameworks are converging towards similar
              concepts in terms of components and data and action flows, their change
              detection and update approaches have remained very different.<br/><br/>

              How the framework handles these questions has direct impact on how the
              user of the framework has to work, so understanding these differences
              gives a better appreciation for the usage differences between the
              frameworks.
            </aside>
          </section>
          <section>
            <h3>React Change Detection (Virtual DOM)</h3>
            <div class="flex-container">
              <div class="flex-column">
                <p>Data/Model/State</p>
                <pre><code data-trim data-noescape class='json'>
{
  heroes: [
    'Hiro Nakamura',
    'Claire Bennet',
    'Peter Petrelli',<span data-fragment-index="1" class="fragment hidden changes">
    'Matt Parkman'</span>
  ]
}
</code></pre>
              </div>
              <div class="flex-column">
                <p class="fragment highlight-red" data-fragment-index="2">Template</p>
<pre><code data-trim class='html'>
<ul>
  <% for hero in heroes %>
    <li><% hero %></li>
  <% end %>
</ul>
</code></pre>
              </div>
              <div class="fragment hidden flex-column" data-fragment-index="3">
                <p class="changes">Virtual DOM</p>
<pre><code data-trim class='html'>
<ul>
  <li>Hiro Nakamura</li>
  <li>Claire Bennet</li>
  <li>Peter Petrelli</li>
  <li>Matt Parkman</li>
</ul>
</code></pre>
              </div>
              <div class="flex-column">
                <p>DOM</p>
<pre><code data-trim class='html'>
<ul>
  <li>Hiro Nakamura</li>
  <li>Claire Bennet</li>
  <li>Peter Petrelli</li>
</ul>
</code></pre>
              </div>
            </div>
          </section>
          <section>
            <h3>Ember/Vue Change Detection (Observables)</h3>
            <div class="flex-container">
              <div class="flex-column">
                <p>Data/Model/State</p>
                <pre><code data-trim data-noescape class='json'>
{
  <span data-fragment-index="1" class="fragment highlight-red">heroes:</span> [
    'Hiro Nakamura',
    'Claire Bennet',
    'Peter Petrelli',<span data-fragment-index="2" class="fragment hidden changes">
    'Matt Parkman'</span>
  ]
}
</code></pre>
              </div>
              <div class="flex-column">
                <p>Template</p>
<pre><code data-trim data-noescape class='json'>

&lt;ul&gt;
  &lt;% for hero in <span data-fragment-index="1" class="fragment highlight-red">heroes</span> %&gt;
    &lt;li&gt;&lt;% hero %&gt;&lt;/li&gt;
  &lt;% end %&gt;
&lt;/ul&gt;
</code></pre>
              </div>
              <div class="flex-column">
                <p>DOM</p>
<pre><code data-trim data-noescape class='html'>
&lt;ul&gt;
  <span data-fragment-index="1" class="fragment highlight-red">&lt;li&gt;Hiro Nakamura&lt;/li&gt;
  &lt;li&gt;Claire Bennet&lt;/li&gt;
  &lt;li&gt;Peter Petrelli&lt;/li&gt;</span>
&lt;/ul&gt;
</code></pre>
              </div>
            </div>
          </section>
          <section>
            <h3>Angular Change Detection (Compare States)</h3>
            <div class="flex-container">
              <div class="flex-column">
                <p>Data/Model/State</p>
<pre><code data-trim data-noescape class='json'>
{
  heroes: [
    'Hiro Nakamura',
    'Claire Bennet',
    'Peter Petrelli',
  ]
}
</code></pre>
              </div>
              <div data-fragment-index="1" class="fragment hidden flex-column">
                <p class="changes">Next State</p>
<pre><code data-trim data-noescape class='json'>
  {
    heroes: [
      'Hiro Nakamura',
      'Claire Bennet',
      'Peter Petrelli',<span class="changes">
      'Matt Parkman'</span>
    ]
  }
</code></pre>
              </div>
              <div class="flex-column">
                <p>Template</p>
<pre><code data-trim class='html'>
<ul>
  <% for hero in heroes %>
    <li><% hero %></li>
  <% end %>
</ul>
</code></pre>
              </div>
              <div class="flex-column">
                <p>Virtual DOM</p>
<pre><code data-trim class='html'>
<ul>
  <li>Hiro Nakamura</li>
  <li>Claire Bennet</li>
  <li>Peter Petrelli</li>
  <li>Matt Parkman</li>
</ul>
</code></pre>
              </div>
            </div>
          </section>
          <section>
            <h3>To summarize...</h3>
            <p data-fragment-index="1" class="fragment">Change detection is how frameworks know they need to update the view</p>
            <p data-fragment-index="2" class="fragment">Each framework uses a different strategy</p>
            <p data-fragment-index="3" class="fragment">Angular's strategy is to check each components state each "tick" to see if it's changed</p>
          </section>
        </section>
        <section>
          <section>
            <h3>But how do you make it fast?</h3>
          </section>
          <section>
            <h3>Change Detection Time = C * N</h3>
            <p>C - time to check a binding</p>
            <p>N - number of bindings</p>
          </section>
          <section>
              <div><img src="img/angular_change_detector_tree.png" alt="Vue JS Trends"></div>
              <div class="source"><a href="https://blog.thoughtram.io/angular/2016/02/22/angular-2-change-detection-explained.html">Source</a></div>
              <aside class="notes">
                While this may seem pretty fast when you're only looking at a single component,
                applications will often be made up of many, many components in a tree structure
                like that shown here.  Each of those components must check it's own data
                to see if it's changed (this isn't strictly true in Angular, but is true by
                default).<br/><br/>

                Because this needs to happen every cycle, we need it to be incredibly fast.
              </aside>
          </section>
          <section>
            <h3>A basic Angular component</h3>
<pre><code data-trim class='js'>
@Component({
  selector: 'article-heading',
  template: `
    <div>
      <h2>{{article.title}}</h2>
      <p>By: {{article.author}}</p>
    </div>
  `
})
export class ArticleHeading {
  @Input() article: Article;
}
</code></pre>
            <aside class="notes">
              This basic component to display a heading for an article
              would be passed an input "Article".  This components
              change detector will need to determine if that article
              has changed each tick of the application.
            </aside>
          </section>
          <section>
            <h3>A conceptual Angular.js change detector</h3>
<pre><code data-trim class='js'>
while (op) {
  var getter = getterFor(op.fieldName);

  var oldValue = op.value;
  var newValue = getter(op.context);

  if (oldValue !== newValue) {
    op.value = newValue;

    var fn = reactionFunctionFor(op);
    fn(oldValue, newValue);
  }

  op = op.next;
}
</code></pre>
            <div class="source"><a href="https://www.youtube.com/watch?v=jvKGQSFQf10">Source</a></div>
            <aside class="notes">
              This is representation of the angularjs change detector by Victor Savkin.
              The most important thing to note is that this is a generic change detector,
              it is used to check every binding in the application.  This is very DRY,
              reusing the same code for every component. But... with Javascript that has issues...<br/><br/>

              The op object could look very different each time it's called.
            </aside>
          </section>
          <section>
            <h3>A conceptual Angular change detector</h3>
<pre><code data-trim class='html'>
<p>By: {{article.author}}</p>
</code></pre>
<pre><code data-trim class='js'>
var author = obj.author;
if (author !== this.previousAuthor) {
  this.previousAuthor = author;
  this.authorBinding.string = author;
}
</code></pre>
            <div class="source"><a href="https://www.youtube.com/watch?v=jvKGQSFQf10">Source</a></div>
            <aside class="notes">
              Notice that this change detector is written specifically to our context. Because
              this change detector is written specifically for this specific component, it will
              always see the same "shapes" of objects.  I.e. obj will always have a title
              and author attribute.

              This is the fundamental idea of a monomorphic function, that the objects that it
              works on always have the same shape.
            </aside>
          </section>
          <section>
            <h2>Hey, wait a minute... What is a shape?</h2>
            <h2 class="fragment">That sounds an awful lot like a class...</h2>
          </section>
          <section>
            <h2>Ignore the man behind the curtain for now...</h2>
            <blockquote cite="http://blog.mgechev.com/2016/08/14/ahead-of-time-compilation-angular-offline-precompilation/">This allows the JavaScript virtual machine to perform property access caching and execute the change detection/rendering logic much faster. - Minko Gechev</blockquote>
          </section>
          <section>
            <h3>Where does the per-component change detector come from?</h3>
            <p>The code you write isn't the code that runs</p>
            <p>Angular has a JIT and AOT compiler that generates code, including these change detectors</p>
            <aside class="notes">
              Having a compilation step comes at a cost.  If you are using the Just In Time compiler
              the angular library will be larger, and your boot time will be slower while it runs the
              compiler.  This is why in Angular 2 they introduced the ability to do Ahead Of Time
              compilation.  Given that most applications now will have a build step before
              being deployed this will be fairly straightforward to implement in most cases, and
              will avoid the additional payload size and compile time.
            </aside>
          </section>
        </section>
        <section>
          <section>
            <h2>Why are monomorphic functions faster?</h2>
          </section>
          <section>
            <img src="img/object_a.png" />
          </section>
          <section>
            <h2>Why are object shapes?</h2>
          </section>
          <section>
<pre><code data-trim class='js'>
function Point(x,y) {
  this.x = x;
  this.y = y;
}

var obj = new Point(1,2);
</code></pre>
            <img src="img/hidden_classes.png" />
            <div class="source"><a href="http://richardartoul.github.io/jekyll/update/2015/04/26/hidden-classes.html">Source</a></div>

          </section>
        </section>

        <section>
          <h3>Ben Zittlau</h2>
          <p>@benzittlau</p>
          <p>benzittlau.com</p>
          <p>springlaunched.com</p>
          <p>ben@getjobber.com</p>
        </section>
        <section>
          <h2>Resources</h2>
          <ul class="list--no-bullets">
            <li><a href="https://www.youtube.com/watch?v=jvKGQSFQf10">Change Detection Reinvented - Victor Savkin</a></li>
            <li><a href="http://mrale.ph/blog/2015/01/11/whats-up-with-monomorphism.html">What's up with Monomorphism -  Vyacheslav Egorov</a></li>
            <li><a href="http://mrale.ph/blog/2012/06/03/explaining-js-vms-in-js-inline-caches.html">Explaining JavaScript VMs in JavaScript - Inline Caches</a></li>
            <li><a href="https://jsperf.com/monomorphism-vs-polymorphism/11">Benchmark for momomorphism vs polymorpism, might be what I want to demo!</a></li>
            <li><a href="https://gist.github.com/twokul/9501770">Hidden classes in JavaScript and Inline Caching</a></li>
            <li><a href="http://blog.mgechev.com/2016/08/14/ahead-of-time-compilation-angular-offline-precompilation/">Ahead-of-Time Compilation in Angular</a></li>
            <li><a href="http://richardartoul.github.io/jekyll/update/2015/04/26/hidden-classes.html">Javascript Hidden Classes and Inline Caching in V8</a></li>
            <li><a href="http://mrale.ph/talks/awp2014/#/92">Presentation with some examples of inline cache IR's and patching</a></li>
          </ul>
        </section>
      </div>
    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>

    <script>

      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        margin: 0.1,
        width: '100%',
        maxScale: 1,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return true; }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true },
          { src: 'plugin/notes/notes.js', async: true }
        ]
      });

    </script>

  </body>
</html>
